<div id="portfolio"></div>


<section class="bg-blue pt-4">
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-6 text-right">
        <h1>Mon Voyage en image!</h1>
      </div>

      <div class="col-2 text-right">
        Blog en live:<br>
        Page Facebook:
      </div>

      <div class="col-4">
        <a href="http://rollingthepachamama.travelmap.net" target="_blank">rollingthepachamama.travelmap.net</a><br>
        <a href="wwww.facebook.com/rollingthepachamama" target="_blank">wwww.facebook.com/rollingthepachamama</a>
      </div>
    </div>

    <div class="row">
      <div class="col-3 p-0" *ngFor="let image of portfolio">
        <img [@focusImage]="state" (click)="toggleZoom()" class="img-fluid" src="assets/img/portfolio/fullsize/{{image}}.jpg" alt="Portfolio 1">
      </div>
    </div>

  </div>
</section>
