<footer>
  <div class="container py-5">
    <div class="row p-5">
      <div class="col-12 mx-auto text-center">
        <h3>{{ title }}</h3>
      </div>

      <div class="col-12">
        <hr class="col-4">
      </div>

    </div>

    <div class="row">
      <div class="col-6">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>

      <div class="col-6">
        <div class="list-group">
          <a class="list-group-item" href="#"><i class="fa fa-male fa-fw" aria-hidden="true"></i>&nbsp; {{name}}</a>
          <a class="list-group-item" href="#"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp; {{phone}}</a>
          <a class="list-group-item" href="#"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; {{email}}</a>
          <a class="list-group-item" href="#"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; {{address}}</a>
          <img class="col-4 mx-auto" src="../../assets/img/call me.gif" alt="call me">
        </div>
      </div>
    </div>
  </div>


</footer>
