<div class="nav-container fixed-top">
  <nav role="navigation" class="navbar">
    <div class="container justify-content-end">
      <ul class="nav nav-pills" [class.page-top-bg]="navIsFixed">
        <li class="nav-item">
          <a class="text-uppercase nav-link" [class.page-top-a-white]="navIsFixed" href="#header">Header</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" [class.page-top-a-white]="navIsFixed" href="#formations">Formations</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" [class.page-top-a-white]="navIsFixed" href="#experiences">Expériences</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" [class.page-top-a-white]="navIsFixed" href="#competences">Compétences</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" [class.page-top-a-white]="navIsFixed" href="#hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" [class.page-top-a-white]="navIsFixed" href="#portfolio">Portfolio</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
