<div class="nav-container" class="static">
  <nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container justify-content-end">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#header">Header</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#formations">Formations</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#experiences">Expériences</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#competences">Compétences</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#portfolio">Portfolio</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="nav-container fixed-top" [class.invisible]="PageIsTop">
  <nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container justify-content-end">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#header">Header</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#formations">Formations</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#experiences">Expériences</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#competences">Compétences</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#portfolio">Portfolio</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
