<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-4 mt-4">
        <h3>Formations</h3>
      </div>

      <div class="col-8">
        <div *ngFor="let formation of formations" class="row my-4">
          <div class="col-8">
            {{formation.formation}}
          </div>
          <div class="col-4">
            {{formation.periode}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8 mx-auto">
        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-4 mt-4">
        <h3>Experiences</h3>
      </div>

      <div class="col-8">
        <div *ngFor="let experience of experiences" class="row my-4">
          <div class="col-8">
            {{experience.experience}}
          </div>
          <div class="col-4">
            {{experience.periode}}
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
