<section>
  <div class="container my-5 py-5">
    <div id="formations"></div>
    <div class="row">
      <div class="col-3 mt-4">
        <h3>Formations</h3>
      </div>

      <div class="col-9">
        <div *ngFor="let formation of formations" class="row my-4">
          <div class="col-10">
            <h6>{{formation.formation}}</h6>
            <p class="font-italic">{{formation.lieu}}</p>
          </div>
          <div class="col-2">
            {{formation.periode}}
            <p class="font-italic">{{formation.duree}}</p>
          </div>
        </div>
      </div>
    </div>





    <div class="row">
      <div class="col-8 mx-auto">
        <hr>
      </div>
    </div>



    <div id="experiences"></div>

    <div class="row">
      <div class="col-3 mt-4">
        <h3>Experiences</h3>
      </div>

      <div class="col-9">
        <div *ngFor="let experience of experiences" class="row my-4">
          <div class="col-10">
            <h6>{{experience.experience}}</h6>
            {{experience.description1}}
            {{experience.description2}}
            <p class="font-italic">{{experience.lieu}}</p>
          </div>
          <div class="col-2">
            {{experience.periode}} <br class="py-0">
            {{experience.periode1}}
            {{experience.periode2}}
            <p class="font-italic">{{experience.duree}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-8 mx-auto">
        <hr>
      </div>
    </div>


    <div id="competences"></div>

    <div class="row">
      <div class="col-12 text-center mt-4">
        <h3>Compétences</h3>
      </div>
    </div>

    <div class="row mt-5">
      <table class="table table-sm table-hover table-stripped table-responsive table-bordered">
        <thead>
          <tr>
            <th>Informatique</th>
            <th>Logiciels​ ​et​ ​environnements</th>
            <th>Linguistiques</th>
          </tr>
        </thead>
        <tbody *ngFor="let competence of competences">
          <tr>
            <td>{{competence.informatique}}</td>
            <td>{{competence.environnement}}</td>
            <td>{{competence.linguistiques}}</td>
          </tr>
        </tbody>
      </table>

    </div>




  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <hr>
    </div>
  </div>
</div>
